.page-wrap {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 1.3rem;
    margin-bottom: 4%;
}

h1 {
    font-size: 1.55rem;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

.page-tit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    place-items: center;
    gap: .8rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    border-left: 10px solid var(--orange);
    background-color: var(--white);
    box-shadow: var(--wrapper-shadow);
    margin-bottom: 1.2rem;
}

.page-tit img {
    width: 2.1rem;
}

.hrzl {
    width: 100%;
    height: 2px;
    background-color: #d3d3d3;
    opacity: 0.4;
    margin-bottom: 1rem;
}

.page-body {
    display: grid;
    grid-template-columns: auto, 1fr;
    grid-template-rows: 1fr;
    gap: 1rem 1rem;
    grid-template-areas: "left right";
}

.left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    place-items: center;
    gap: .7rem;
}

.right {
    grid-area: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 1.5rem 2rem;
}