.page-wrap {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 1.3rem;
    margin-bottom: 4%;
}

h1 {
    font-size: 1.55rem;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    margin-right: .7rem;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    color: darkgray;
    font-family: "nunito";
    letter-spacing: .5px;
    word-spacing: 1.4px;
    margin-left: .5rem;
    margin-bottom: .3rem;
    cursor: pointer;
    max-width: fit-content;
}

h3 {
    padding: 0;
    margin: 0;
}

h4 {
    margin: 0;
    padding: 0;
    color: blueviolet;
    font-size: 1.3rem;
    word-spacing: -2.3px;
}

.page-tit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-items: center;
    justify-content: space-between;
    gap: .8rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    border-left: 10px solid var(--orange);
    background-color: var(--white);
    box-shadow: var(--wrapper-shadow);
    margin-bottom: 1.2rem;
}

.page-tit button {
    background-color: #dddddd;
    padding: .33rem .5rem;
    font-family: "Roboto";
    letter-spacing: 1px;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    transition: .3s all linear;
}

.page-tit button:hover {
    background-color: blueviolet;
    color: white;
}

.decor-up {
    z-index: 3;
    margin-left: 0.4rem;
    margin-right: 0.3rem;
    width: 0.7rem;
    height: 0.7rem;
    border-top: 3px solid lightgray;
    border-right: 3px solid lightgray;
    border-color: #c3c3c3;
    transform: rotateZ(45deg);
    transition: 0.25s all ease-in-out;
    transform-origin: 50% 50%;
}

.decor-down {
    z-index: 3;
    margin-left: 0.4rem;
    margin-right: 0.3rem;
    width: 0.7rem;
    height: 0.7rem;
    border-top: 3px solid lightgray;
    border-right: 3px solid lightgray;
    border-color: #c3c3c3;
    transform: rotateZ(135deg);
    transition: 0.25s all ease-in-out;
    transform-origin: 50% 50%;
}

.decor-down:hover {
    border-color: var(--blue);
    cursor: pointer;
}

.decor-up:hover {
    border-color: var(--blue);
    cursor: pointer;
}

.titulo {
    padding: .5rem;
    background-color: white;
    border-radius: 6px;
    border-top: 5px solid blueviolet;
    border-bottom: 4px solid rgba(211, 211, 211, 0.76);
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    place-items: center;
    gap: .5rem;
}

.titulo h1 {
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
}

.titulo h1::after {
    content: ' coleção';
    font-size: 1.1rem;
    color: darkgray;
}

.page-body {
    padding: .4rem;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
    gap: .8rem;
}

.page-body-hr {
    padding: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    gap: 1rem;
}

.explorador {
    border-top: 10px solid var(--blue);
    border-radius: 4px;
    background-color: white;
    padding: .5rem;
    padding-right: 1rem;
    height: fit-content;
}

@media screen and (max-width: 1190px) {
    .page-body {
        padding: .4rem;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-content: left;
        gap: 1rem;
    }
}

.update {
    border: none;
    border-radius: 4px;
    padding: .4rem .5rem;
    background-color: blueviolet;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 1.1px;
    font-size: .9rem;
    transition: .7s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.update:hover {
    transform: translateX(3px);
    padding: .4rem 1.3rem;
}

.procurar {
    border: none;
    border-radius: 4px;
    padding: .4rem .5rem;
    background-color: blueviolet;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 1.1px;
    font-size: .9rem;
    width: fit-content;
    transition: .7s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.procurar:hover {
    transform: translateX(3px);
    padding: .4rem 1.3rem;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: .5rem 0;
    padding: .6rem .7rem;
    border: 2px solid gainsboro;
    border-radius: 6px;
}

.search span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .4rem;
}

details {
    border: 2px solid #e2e2e2;
    border-radius: 6px;
    padding: .6rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
    transition: .3s all ease-out;
}

details:hover {
    border-color: lightgray;
}

summary::marker {
    font-size: 1.2rem;
    color: #424242;
    transition: .3s all ease-out;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5rem;
    cursor: pointer;
}

p {
    margin: .7rem 0;
    font-size: .95rem;
    line-height: 1.25rem;
    font-family: "Roboto";
    text-align: justify;
    text-justify: inter-word;
    overflow-wrap: break-word;
    hyphens: manual;
}

p::first-letter {
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-left: .5rem;
}

details[open] summary {
    border-bottom: 2px solid gainsboro;
    margin-bottom: .5em;
}

.editor-query {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .6rem;
}

.editor-query textarea {
    cursor: text;
    outline: none;
    padding: .5rem;
    resize: none;
    border: none;
    border-radius: 6px;
    background-color: #282C34;
    color: #FFFFFF;
    /* font-family: consolas; */
    /* word-spacing: -3px; */
    /* font-weight: bold; */
    font-family: 'Roboto Mono', monospace;
    font-size: .9rem;
    height: 25.5vh;
    white-space: pre;
}

.editor-query textarea::-webkit-scrollbar {
    width: 6px;
}

/* Track */

.editor-query textarea::-webkit-scrollbar-track {
    background-color: #353535;
}

/* Handle */

.editor-query textarea::-webkit-scrollbar-thumb {
    background-color: #fefefe;
    margin-top: 10px;
}