.main-wrap {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: flex-start;
    margin-top: 1.3rem;
    margin-bottom: 4%;
}

.titulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    place-items: center;
    gap: .5rem;
    margin-top: 1rem;
    padding: .2rem .6rem;
    background-color: white;
    border-radius: 5px;
    border-left: 10px solid var(--blue);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.titulo h1 {
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--blue);
    padding: 0;
    margin: 0;
}

.titulo h4 {
    padding: 0;
    margin: 0;
    margin-top: .5rem;
    font-family: consolas;
    font-weight: bold;
    color: lightgray;
}

.wrap-editor {
    margin-top: 1rem;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    place-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    place-items: center;
    padding: .3rem 1rem;
    padding-bottom: 0;
    margin: 0;
    gap: 1rem;
    margin-left: 1.2rem;
}

.fich-nome {
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid white;
    background-color: white;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: .5rem;
    font-size: 1.05rem;
}

.fich-criac {
    font-weight: bold;
    font-family: consolas;
    font-style: italic;
    color: #a5a5a5;
}

.editor-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.editor-body textarea {
    padding: .5rem 1rem;
    padding-top: .7rem;
    font-family: "Roboto";
    outline: none;
    border: none;
    border-radius: 7px;
    border-left: 10px solid var(--blue);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: auto;
    min-width: 87%;
    min-height: 50vh;
    font-size: .9rem;
    margin-bottom: 1rem;
    box-shadow: 10px 10px 10px 0px lightgray;
}

textarea:active {
    border-color: var(--orange);
}

.buttons button {
    padding: .25rem .5rem;
    margin-right: 1rem;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid var(--orange);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-radius: 4px;
    background-color: white;
    font-size: 1rem;
    font-family: "Roboto";
    box-shadow: 6px 6px 3px 0px lightgray;
    transition: .2s all ease-in-out;
}

button:hover {
    transform: translatey(3PX);
}