.home {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-family: "Roboto", sans-serif;
}

.side-content {
    display: flex;
    flex-direction: column;
}

.nome-tit {
    color: #1E6CE1;
    font-weight: 500;
    font-family: "Oleo Script", cursive;
    margin: .5rem;
}

.disposicao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contribuicoes-valores h3 {
    margin: .3rem 0;
    margin-bottom: .5rem;
    color: #303030;
}

.titulo-pasta {
    display: flex;
    flex-wrap: nowrap;
    place-items: center;
}

.pasta {
    margin: 0;
    margin-left: .5rem;
    padding: 0;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1E6CE1;
}

.contribuicoes-valores ul {
    list-style: none;
    padding: .3rem 0;
    padding-left: .45rem;
    padding-top: .15rem;
    padding-bottom: .1rem;
    border-left: .2rem solid tomato;
}

.contribuicoes-valores li {
    font-size: 1.05rem;
    padding: .2rem 0;
    transition: .21s all ease-in-out;
}

.contribuicoes-valores li:hover {
    transform: translateX(5px);
}

.link {
    font-style: italic;
    font-size: .91rem;
    font-weight: bold;
    font-family: Consolas;
    margin-left: .3rem;
    letter-spacing: 1px;
    color: lightgray;
    transition: .2s all ease-out;
    text-decoration: none;
}

.link:hover {
    color: #1e6ce1;
}

.logbutton {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    margin: 1rem;
    margin-top: 20%;
}

.logbutton button {
    margin-left: 0;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: .6rem 1.5rem;
    border: 3px solid tomato;
    background-color: tomato;
    color: white;
    box-shadow: 6px 6px 3px 0px lightgray;
    transition: .25s all ease-in-out;
    outline: red;
}

.logbutton button:hover {
    padding: .8rem 1.8rem;
    border-color: red;
    break-inside: auto;
}

.legenda {
    font-size: .85rem;
    margin-top: .2rem;
    color: rgb(189, 189, 189);
    letter-spacing: 1px;
    font-weight: bold;
}

.listing {
    display: flex;
    flex-direction: column;
}

.doc-list {
    margin-top: .1rem;
    margin-left: .55rem;
}

.doc-list li {
    padding: .4rem 0rem;
    font-size: .9rem;
}